#foodSelect {
  border: 2px solid darkslategray;
  padding: 2px;
  width: 50%;
  text-align: left;
  margin-left: 25%;
  margin-block: 5px;
  padding-left: 5%;
  border-radius: 1vh;
}

#foodSelect:hover {
  background-color: rgb(44, 57, 81);
  color: whitesmoke;
}